<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .red { color: red; }
    .bold { font-weight: bold; }
  </style>
</head>
<body>
  <div id="myapp">
    <ul>
      <li v-for="d in d1">{{ d }}</li>
    </ul>
    <ul>
      <li v-for="(k, d) in d2">{{ k }} - {{ d }}</li>
    </ul>
    <ul>
      <li v-for="(d, index) in d3">{{ index }} {{ d.name }} - {{ d.score }}</li>
    </ul>
  </div>

  <script src="./vue.min.js"></script>
  <script>
  // vmという変数に入れる理由は？
    vm = new Vue({
      el: '#myapp',
      data: {
        d1: ['a', 'b'],
        d2: {k1: 'v1', k2: 'v2'},
        d3: [
          {name: 'taguchi', score: 62},
          {name: 'fkoji', score: 84}
        ]
      }
    })
  </script>
</body>
</html>
