<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .red { color: red; }
    .bold { font-weight: bold; }
  </style>
</head>
<body>
  <div id="myapp">
    <p>
      <input type="text" v-model="name">
      {{name}}
    </p>
    <p>
      <input type="checkbox" v-model="isAdmin">
      {{isAdmin ? "admin" : "not admin"}}
    </p>
    <p>
      <input type="radio" name="phone" v-model="phone" value="iphone">
      <input type="radio" name="phone" v-model="phone" value="android">
      {{phone}}
    </p>
    <p>
      <select v-model="city">
        <option value="tokyo">tokyo</option>
        <option value="kyoto">kyoto</option>
        <option value="osaka">osaka</option>
      </select>
      {{city}}
    </p>
  </div>

  <script src="./vue.min.js"></script>
  <script>
  // vmという変数に入れる理由は？
    vm = new Vue({
      el: '#myapp',
      data: {
        name: 'kaneko',
        isAdmin: true,
        phone: 'iPhone',
        city: 'tokyo'
      }
    })
  </script>
</body>
</html>
